* {
  box-sizing: border-box;
}

.header {
  background-color: #303f9f;
  color: #fff;
}

.header h1 {
  margin: 0;
  padding: 1rem;
  text-align: center;
}

.social-cards {
  background-color: #dce0f5;
  padding: 1rem;
}

.social-card {
  background-color: #fff;
  padding: 1rem;
  border-radius: 4px;
}

.social-card-user {
  display: flex;
}

.social-card-user p {
  margin: 0;
}

.social-card-user-avatar {
  height: 64px;
  width: 64px;
  background-color: #eee;
  border-radius: 100%;
  text-align: center;
  line-height: 64px;
  font-size: 30px;
  font-weight: bold;
  margin-right: 1rem;
}

.social-card-user-name {
  font-size: 25px;
  font-weight: bold;
}

.social-card-user-screen_name {
  font-size: 19px;
  font-weight: normal;
}

.social-card-user-url {
  margin-left: 1rem;
  widows: 0.5rem;
}
